@charset "utf-8";
/* CSS Document */


#wrap{background: #eee;}
#wrap p{text-align:center;}
#wrap p img{padding:10px 0;}
.s4{width:400px;}
.s64{width:640px;}
.s6{width:600px;}
.s96{width:960px;}
.s7{width:700px;}