@charset "utf-8";
/* CSS Document */

#wrap p{text-align: center; padding:10px 0;}

h1{
    text-align: center;
    margin:40px 0;
    font-size: 24px;
    line-height: 1em;
    border-bottom: 1px solid #555;
    color:#111;
    height: 12px;
}
h1 span{
    background-color: #fff;
    padding:0 20px;
}